# Basics

In [4]:
!pip install pyspark
import pyspark
import pandas as pd

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 47 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 47.1 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.0-py2.py3-none-any.whl size=281764026 sha256=e4334c5af4f9a8b08ef19787b60d5fd7094523656212c2a2bc8e9a85e95a7b5e
  Stored in directory: /root/.cache/pip/wheels/7a/8e/1b/f73a52650d2e5f337708d9f6a1750d451a7349a867f928b885
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.0

In [77]:
df=pd.read_csv('/content/test.csv' )

In [78]:
df.head()

     Name  age
0   Ayesh   24
1  Prasad   23
2  Kaluwa   22
3  Dinuka   23

In [79]:
from pyspark.sql import SparkSession

In [80]:
spark = SparkSession.builder.appName('Practise').getOrCreate()

In [81]:
spark

In [82]:
df_pyspark=spark.read.csv('/content/test.csv')

In [83]:
df_pyspark

DataFrame[_c0: string, _c1: string]

In [84]:
df_pyspark.show()

+------+---+
|   _c0|_c1|
+------+---+
|  Name|age|
| Ayesh| 24|
|Prasad| 23|
|Kaluwa| 22|
|Dinuka| 23|
+------+---+

In [85]:
df_pyspark_2 = spark.read.option('header','true').csv('/content/test.csv')

In [86]:
df_pyspark_2

DataFrame[Name: string, age: string]

In [87]:
df_pyspark_2.show()

+------+---+
|  Name|age|
+------+---+
| Ayesh| 24|
|Prasad| 23|
|Kaluwa| 22|
|Dinuka| 23|
+------+---+

In [88]:
type(df_pyspark_2)

pyspark.sql.dataframe.DataFrame

In [89]:
df_pyspark_2.head(3)

[Row(Name='Ayesh', age='24'),
 Row(Name='Prasad', age='23'),
 Row(Name='Kaluwa', age='22')]

In [90]:
df_pyspark_2.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: string (nullable = true)

# Part-1

In [91]:
spark = SparkSession.builder.appName('Dateframe').getOrCreate()

In [92]:
spark

In [93]:
df_spark = spark.read.option('header','true').csv('/content/test.csv')

In [94]:
df_spark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: string (nullable = true)

In [95]:
df_spark = spark.read.option('header','true').csv('/content/test.csv',inferSchema=True)

In [96]:
df_spark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)

In [97]:
df_spark=spark.read.csv('/content/test.csv',inferSchema=True,header=True)

In [98]:
df_spark.show()

+------+---+
|  Name|age|
+------+---+
| Ayesh| 24|
|Prasad| 23|
|Kaluwa| 22|
|Dinuka| 23|
+------+---+

In [99]:
df_spark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)

In [100]:
type(df_spark)

pyspark.sql.dataframe.DataFrame

In [101]:
df_spark.columns

['Name', 'age']

In [102]:
df_spark.head(3)

[Row(Name='Ayesh', age=24),
 Row(Name='Prasad', age=23),
 Row(Name='Kaluwa', age=22)]

In [103]:
df_name=df_spark.select('Name')

In [104]:
df_name.show()

+------+
|  Name|
+------+
| Ayesh|
|Prasad|
|Kaluwa|
|Dinuka|
+------+

In [105]:
type(df_name)

pyspark.sql.dataframe.DataFrame

In [106]:
df_multiple = df_spark.select(['Name','age'])

In [107]:
df_multiple.show()

+------+---+
|  Name|age|
+------+---+
| Ayesh| 24|
|Prasad| 23|
|Kaluwa| 22|
|Dinuka| 23|
+------+---+

In [108]:
df_spark['Name']

Column<'Name'>

In [109]:
df_spark.dtypes

[('Name', 'string'), ('age', 'int')]

In [110]:
df_spark.describe().show()

+-------+------+-----------------+
|summary|  Name|              age|
+-------+------+-----------------+
|  count|     4|                4|
|   mean|  null|             23.0|
| stddev|  null|0.816496580927726|
|    min| Ayesh|               22|
|    max|Prasad|               24|
+-------+------+-----------------+

In [111]:
import random 

df_spark=df_spark.withColumn('Working_hrs',df_spark['age']+2)

In [112]:
df_spark.show()

+------+---+-----------+
|  Name|age|Working_hrs|
+------+---+-----------+
| Ayesh| 24|         26|
|Prasad| 23|         25|
|Kaluwa| 22|         24|
|Dinuka| 23|         25|
+------+---+-----------+

In [113]:
df_spark=df_spark.drop('working_hrs')

In [114]:
df_spark.show()

+------+---+
|  Name|age|
+------+---+
| Ayesh| 24|
|Prasad| 23|
|Kaluwa| 22|
|Dinuka| 23|
+------+---+

In [115]:
# rename columns 

df_spark=df_spark.withColumnRenamed('age','aged')

In [116]:
df_spark.show()

+------+----+
|  Name|aged|
+------+----+
| Ayesh|  24|
|Prasad|  23|
|Kaluwa|  22|
|Dinuka|  23|
+------+----+

# Part -3 preprocessing

In [117]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('Practise').getOrCreate()

In [118]:
spark

In [119]:
!git clone https://github.com/krishnaik06/Pyspark-With-Python.git

fatal: destination path 'Pyspark-With-Python' already exists and is not an empty directory.

In [120]:
df= spark.read.csv('/content/Pyspark-With-Python/test2.csv',header=True,inferSchema=True)

In [121]:
df.show()

+---------+----+----------+------+
|     Name| age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Sudhanshu|  30|         8| 25000|
|    Sunny|  29|         4| 20000|
|     Paul|  24|         3| 20000|
|   Harsha|  21|         1| 15000|
|  Shubham|  23|         2| 18000|
|   Mahesh|null|      null| 40000|
|     null|  34|        10| 38000|
|     null|  36|      null|  null|
+---------+----+----------+------+

In [122]:
df.na.drop().show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [123]:
# how = any default
df.na.drop(how='all').show()

+---------+----+----------+------+
|     Name| age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Sudhanshu|  30|         8| 25000|
|    Sunny|  29|         4| 20000|
|     Paul|  24|         3| 20000|
|   Harsha|  21|         1| 15000|
|  Shubham|  23|         2| 18000|
|   Mahesh|null|      null| 40000|
|     null|  34|        10| 38000|
|     null|  36|      null|  null|
+---------+----+----------+------+

In [124]:
df.show()

+---------+----+----------+------+
|     Name| age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Sudhanshu|  30|         8| 25000|
|    Sunny|  29|         4| 20000|
|     Paul|  24|         3| 20000|
|   Harsha|  21|         1| 15000|
|  Shubham|  23|         2| 18000|
|   Mahesh|null|      null| 40000|
|     null|  34|        10| 38000|
|     null|  36|      null|  null|
+---------+----+----------+------+

In [125]:
# threshold 
df.na.drop(thresh=2).show()

+---------+----+----------+------+
|     Name| age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Sudhanshu|  30|         8| 25000|
|    Sunny|  29|         4| 20000|
|     Paul|  24|         3| 20000|
|   Harsha|  21|         1| 15000|
|  Shubham|  23|         2| 18000|
|   Mahesh|null|      null| 40000|
|     null|  34|        10| 38000|
+---------+----+----------+------+

In [126]:
# subset
df.na.drop(subset=['Experience']).show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
|     null| 34|        10| 38000|
+---------+---+----------+------+

In [127]:
df.na.fill({"Name":'unknown',"age":50,"Experience":10,"Salary":20000}).show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
|   Mahesh| 50|        10| 40000|
|  unknown| 34|        10| 38000|
|  unknown| 36|        10| 20000|
+---------+---+----------+------+

In [128]:
df.show()

+---------+----+----------+------+
|     Name| age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Sudhanshu|  30|         8| 25000|
|    Sunny|  29|         4| 20000|
|     Paul|  24|         3| 20000|
|   Harsha|  21|         1| 15000|
|  Shubham|  23|         2| 18000|
|   Mahesh|null|      null| 40000|
|     null|  34|        10| 38000|
|     null|  36|      null|  null|
+---------+----+----------+------+

In [129]:
from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols=['age','Experience','Salary'],
    outputCols=["{}_inputed".format(c) for c in ['age','Experience','Salary']]
).setStrategy('mean')

In [130]:
df.show()

+---------+----+----------+------+
|     Name| age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Sudhanshu|  30|         8| 25000|
|    Sunny|  29|         4| 20000|
|     Paul|  24|         3| 20000|
|   Harsha|  21|         1| 15000|
|  Shubham|  23|         2| 18000|
|   Mahesh|null|      null| 40000|
|     null|  34|        10| 38000|
|     null|  36|      null|  null|
+---------+----+----------+------+

In [131]:
imputer.fit(df).transform(df).show()

+---------+----+----------+------+-----------+------------------+--------------+
|     Name| age|Experience|Salary|age_inputed|Experience_inputed|Salary_inputed|
+---------+----+----------+------+-----------+------------------+--------------+
|    Krish|  31|        10| 30000|         31|                10|         30000|
|Sudhanshu|  30|         8| 25000|         30|                 8|         25000|
|    Sunny|  29|         4| 20000|         29|                 4|         20000|
|     Paul|  24|         3| 20000|         24|                 3|         20000|
|   Harsha|  21|         1| 15000|         21|                 1|         15000|
|  Shubham|  23|         2| 18000|         23|                 2|         18000|
|   Mahesh|null|      null| 40000|         28|                 5|         40000|
|     null|  34|        10| 38000|         34|                10|         38000|
|     null|  36|      null|  null|         36|                 5|         25750|
+---------+----+----------+------+-----------+------------------+--------------+

# Part - 4 filter operation

In [132]:
spark = SparkSession.builder.appName('dataframe').getOrCreate()

In [133]:
df = spark.read.csv('/content/Pyspark-With-Python/test1.csv',header=True,inferSchema=True)

In [134]:
df.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [135]:
# filter operation 
# salary of the people less than or equal to 20000

df.filter("Salary<=20000").show()

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
|  Sunny| 29|         4| 20000|
|   Paul| 24|         3| 20000|
| Harsha| 21|         1| 15000|
|Shubham| 23|         2| 18000|
+-------+---+----------+------+

In [136]:
df.filter("Salary<=20000").select(["Name","age"]).show()

+-------+---+
|   Name|age|
+-------+---+
|  Sunny| 29|
|   Paul| 24|
| Harsha| 21|
|Shubham| 23|
+-------+---+

In [137]:
df.filter(df["Salary"]<=20000).show()

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
|  Sunny| 29|         4| 20000|
|   Paul| 24|         3| 20000|
| Harsha| 21|         1| 15000|
|Shubham| 23|         2| 18000|
+-------+---+----------+------+

In [138]:
df.filter((df["Salary"]<=20000) & (df["Salary"]>=15000)).show()

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
|  Sunny| 29|         4| 20000|
|   Paul| 24|         3| 20000|
| Harsha| 21|         1| 15000|
|Shubham| 23|         2| 18000|
+-------+---+----------+------+

In [139]:
df.filter(~(df["Salary"]<=20000) ).show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
+---------+---+----------+------+

# groupby and aggregate

In [140]:
from pyspark.sql import SparkSession

In [141]:
spark = SparkSession.builder.appName('Agg').getOrCreate()

In [142]:
spark

In [143]:
df = spark.read.csv('/content/Pyspark-With-Python/test3.csv',header=True,inferSchema=True)
df.show()

+---------+------------+------+
|     Name| Departments|salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|    Krish|         IOT|  5000|
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|Sudhanshu|    Big Data|  5000|
|    Sunny|Data Science| 10000|
|    Sunny|    Big Data|  2000|
+---------+------------+------+

In [144]:
df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Departments: string (nullable = true)
 |-- salary: integer (nullable = true)

In [145]:
## groupby
df.groupBy('Name').sum('Salary').show()

+---------+-----------+
|     Name|sum(Salary)|
+---------+-----------+
|Sudhanshu|      35000|
|    Sunny|      12000|
|    Krish|      19000|
|   Mahesh|       7000|
+---------+-----------+

In [146]:
df.groupBy('Departments').sum().show()

+------------+-----------+
| Departments|sum(salary)|
+------------+-----------+
|         IOT|      15000|
|    Big Data|      15000|
|Data Science|      43000|
+------------+-----------+

In [147]:
df.groupBy('Departments').count().show()

+------------+-----+
| Departments|count|
+------------+-----+
|         IOT|    2|
|    Big Data|    4|
|Data Science|    4|
+------------+-----+

In [148]:
df.agg({'Salary':'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|      73000|
+-----------+

# regression problem

In [149]:
from pyspark.sql import SparkSession

In [150]:
spark = SparkSession.builder.appName('regression').getOrCreate()

In [151]:
spark

In [152]:
df = spark.read.csv('/content/Pyspark-With-Python/test1.csv',header=True,inferSchema=True)
df.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [153]:
df.columns

['Name', 'age', 'Experience', 'Salary']

In [154]:
# [Age,Experience] ---->new feature---->independent_feature

In [155]:
from pyspark.ml.feature import VectorAssembler

featureassembler = VectorAssembler(inputCols=['age','Experience'],outputCol='independent_feature')
featureassembler

VectorAssembler_1109f26eedae

In [156]:
ass_df = featureassembler.transform(df)
ass_df

DataFrame[Name: string, age: int, Experience: int, Salary: int, independent_feature: vector]

In [157]:
ass_df.show()

+---------+---+----------+------+-------------------+
|     Name|age|Experience|Salary|independent_feature|
+---------+---+----------+------+-------------------+
|    Krish| 31|        10| 30000|        [31.0,10.0]|
|Sudhanshu| 30|         8| 25000|         [30.0,8.0]|
|    Sunny| 29|         4| 20000|         [29.0,4.0]|
|     Paul| 24|         3| 20000|         [24.0,3.0]|
|   Harsha| 21|         1| 15000|         [21.0,1.0]|
|  Shubham| 23|         2| 18000|         [23.0,2.0]|
+---------+---+----------+------+-------------------+

In [158]:
preed_df = ass_df.select("independent_feature","Salary")
preed_df

DataFrame[independent_feature: vector, Salary: int]

In [159]:
preed_df.show()

+-------------------+------+
|independent_feature|Salary|
+-------------------+------+
|        [31.0,10.0]| 30000|
|         [30.0,8.0]| 25000|
|         [29.0,4.0]| 20000|
|         [24.0,3.0]| 20000|
|         [21.0,1.0]| 15000|
|         [23.0,2.0]| 18000|
+-------------------+------+

In [160]:
from pyspark.ml.regression import LinearRegression

In [161]:
## train test split 
train_data,test_data = preed_df.randomSplit([0.75,0.25])

In [162]:
train_data.count(),len(train_data.columns)

(3, 2)

In [163]:
test_data.count(),len(test_data.columns)

(3, 2)

In [164]:
model = LinearRegression(featuresCol='independent_feature',labelCol='Salary')

In [165]:
model=model.fit(train_data)

In [166]:
model.coefficients

DenseVector([-714.2857, 3571.4286])

In [167]:
model.intercept

26428.571428571104

In [168]:
pred=model.evaluate(test_data)
pred.predictions.show()

+-------------------+------+------------------+
|independent_feature|Salary|        prediction|
+-------------------+------+------------------+
|         [23.0,2.0]| 18000|17142.857142857145|
|         [30.0,8.0]| 25000| 33571.42857142842|
|        [31.0,10.0]| 30000| 39999.99999999978|
+-------------------+------+------------------+

In [169]:
pred.meanAbsoluteError,pred.meanSquaredError

(6476.1904761903525, 58068027.21088203)